{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block meta %}
  <!-- SEO -->
  <meta name="description" content="{{ category.description }}">
  <meta name="keywords" content="{{ category.name }}">

  <!-- Canonical -->
  <link rel="canonical" href="http://{{ request.get_host }}/{{category.slug}}/">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ category.name }}">
  <meta property="og:description" content="{{ category.description }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://{{ request.get_host }}/{{category.slug}}/">
{% endblock meta %}

{% block content %}
<h4><small>RECENT POSTS FOR "{{ category.name }}"</small></h4>
<hr>
{% for post in posts %}
<h2><a href="{% url "blog:post-detail" category_slug=post.category.slug post_slug=post.slug %}">{{ post.title }}</a></h2>
<h5>Post by {{ post.author.username }}, {{ post.created_at|date:"M d, Y"}}.</h5>
<h5><span class="label label-danger"><a href="{% url "blog:category-detail" category.slug %}">{{ post.category.name }}</a></span></h5><br>
<p>{{ post.content|truncatechars:350 }}</p>
<br>
{% empty %}
<h4><small>NO POSTS FOUND</small></h4>
{% endfor %}

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
        {% endif %}
        {% for num in paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a href="?page={{num}}" class="page-link">{{num}}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}